<div class="container">


    <div class="row">
        <div class="col-sm-12">

            <div>
                <button class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal">Add New
                    Batch</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="container mt-5">
                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                    <div *ngFor="let batch of batchData">
                        <div>
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"
                                    (click)="removeBatch(batch.batchname)">&times;</button>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <small> <button class="btn btn-link"
                                                (click)="batchNav(batch.batchname)">{{batch.batchname|titlecase}}
                                            </button>
                                        </small>
                                    </div>
                                    <div class="col-sm-6 pt-2 text-dark">
                                        {{batch.Todate|date:'dd-MM-yyyy'}}----{{batch.Fromdate|date:'dd-MM-yyyy'}}
                                    </div>
                                    <div class="col-sm-3">

                                        <button class="btn btn-danger btn-sm float-right" data-toggle="modal"
                                            data-target="#editModal" (click)="editDate(batch)">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- <div class="container">
    <div class="row">
        <div class="col-sm-9">

            <div class="container mt-5">

                <div class="alert alert-success alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert">&times;</button>


                    <div class="row">
                        <div class="col-sm-3">
                            <a href="">Batch 1</a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-3">

                            <button class="btn btn-danger btn-sm float-right " data-toggle="modal"
                                data-target="#editModal">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert">&times;</button>


                    <div class="row">
                        <div class="col-sm-3">
                            <a href="">Batch 2</a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-3">

                            <button class="btn btn-success btn-sm float-right">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert">&times;</button>


                    <div class="row">
                        <div class="col-sm-3">
                            <a href="">Batch 3</a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-3">

                            <button class="btn btn-warning btn-sm float-right">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="alert alert-secondary alert-dismissible">

                    <button type="button" class="close" data-dismiss="alert">&times;</button>


                    <div class="row">
                        <div class="col-sm-3">
                            <a href="">Batch 4</a>
                        </div>
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-3">

                            <button class="btn btn-info btn-sm float-right">Edit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-3">
            <div>
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add New
                    Batch</button>
            </div>
        </div>
    </div>
</div> -->




<div class="container">
    <!-- The Modal -->
    <div class="modal " id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Batch</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div>
                        <form #ref="ngForm" (ngSubmit)="addNewBatch(ref.value);">
                            <label for="">Batch Name</label>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="BatchName" name="batchname"
                                            [(ngModel)]="batch">
                                    </div>
                                </div>
                            </div>

                            <label for="">Batch Duration</label>
                            <br>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">From</label>
                                        <input type="date" class="form-control" placeholder="To" name="Fromdate"
                                            [(ngModel)]="fromdate">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">To</label>
                                        <input type="date" class="form-control" placeholder="From" name="Todate"
                                            [(ngModel)]="todate">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center m-2">
                                <button class="btn btn-success pl-4 pr-4" type="submit">Add</button>
                            </div>

                        </form>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                </div>

            </div>
        </div>
    </div>

</div>







<!--  Modal for  edit date-->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Date</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form #editref="ngForm" (ngSubmit)="editBatchDuration(editref.value)">
                    <label for="">Batch Duration</label>
                    <br>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">From</label>
                                <input type="date" class="form-control" placeholder="To" name="Todate"
                                    [(ngModel)]="todate">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">To</label>
                                <input type="date" class="form-control" placeholder="From" name="Fromdate"
                                    [(ngModel)]="fromdate">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>