<nav class="navbar sticky-top navbar-expand-md  navbar-dark" style="background: #45526E;">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="home">
        <img [src]="brandimgurl" width="30px" height="30px" alt="">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="aboutus">AboutUs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactus">ContactUs</a>
            </li>

            <li class="nav-item" *ngIf="!pg.isLoggedIn">
                <a class="nav-link" routerLink="login">Login</a>
            </li>

            <li class="nav-item" *ngIf="pg.isLoggedIn">
                <a class="nav-link" routerLink="login">Logout</a>
            </li>

        </ul>
    </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>