<!-- <div class="container">
    <div class="text-center">
        <h6 class="display-4">Attendance Status</h6>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h6>Status:</h6>
                <div class="progress" style="height:8px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%;height:10px">
                    </div>
                    <p>70%</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>

</div> -->



<div class="container">
    <div>
        <h2 class="display-4 mb-4">Attendance Progress </h2>
    </div>
    <div class="row text-center">
        <!-- <div class="col-sm-4">
            <div class="progressbar">
                <div class="second circle" [attr.data-percent]="totalAttenCount">
                    <strong></strong>
                    <span>Total<br>Attendance progress</span>
                </div>
            </div>
        </div> -->

        <div class="col-sm-6">
            <div class="progressbar">
                <div class="second circle" [attr.data-percent]="30">
                    <strong></strong>
                    <span>Present <br> progress</span>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <div class="vl"></div>
        </div> -->
        <div class="col-sm-6">
            <div class="progressbar">
                <div class="second circle" [attr.data-percent]="10">
                    <strong></strong>
                    <span>Absent <br> progress</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12">
            <table class="table table-borderless">
                <thead></thead>
                <tr>
                    <td>No Of Classes Conducted</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>No Of Classes Attended</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>No Of classes Absent</td>
                    <td>2</td>

                </tr>

            </table>
        </div>
    </div>
</div>