<!-- new  -->
<div class="sidebar-container">
    <div class="sidebar-logo">
        AdminDashboard
    </div>
    <ul class="sidebar-navigation">
        <!-- <li class="header">Navigation</li> -->
        <li>
            <a routerLink="batches">
                <i class="fa fa-home" aria-hidden="true"></i> Batches
            </a>
        </li>
        <li>
            <a routerLink="attendance">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Attendance
            </a>
        </li>
        <li class="header"></li>
        <li>
            <a routerLink="viewattendance">
                <i class="fa fa-users" aria-hidden="true"></i> ViewAttendance
            </a>
        </li>
        <!-- <li>
            <a routerLink="marks">
                <i class="fa fa-cog" aria-hidden="true"></i> Marks
            </a>
        </li> -->
        <!-- <li>
            <a>
                <i class="fa fa-info-circle" aria-hidden="true"></i> Information
            </a>
        </li> -->
    </ul>
</div>

<div class="content-container">

    <div class="container-fluid">

        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
            <div class="card-footer"></div>
        </div>

    </div>
</div>