<div class="container mt-5">
    <form #attendanceRef="ngForm" (ngSubmit)="searchDeatils(attendanceRef.value);">
        <div class="row">
            <div class="col-sm-3">
                <select name="batch" required batchRef="ngModel" ngModel
                    class="custom-select mb-3 border-top-0 border-left-0 border-right-0">
                    <!-- (change)="add($event.target.value)" -->

                    <option value="" disabled>Select Batch---</option>
                    <option value="allbatches">AllBatches</option>
                    <option value="{{batch.batchname}}" *ngFor="let batch of batchData">
                        {{batch.batchname|uppercase}}</option>
                </select>
            </div>

            <div class="col-sm-3">

                <input type="date" name="checkdate" required #dateRef="ngModel" ngModel
                    class="form-control border-top-0 border-left-0 border-right-0">

            </div>
            <!-- <div class="col-sm-3">

                <input type="date" name="todate" required ngModel placeholder="To:" name="todate"
                    class="form-control border-top-0 border-left-0 border-right-0">
            </div> -->
            <div class="col-sm-6">
                <button class="btn btn-warning" type="submit" [disabled]=attendanceRef.invalid>Search</button>
            </div>
        </div>
    </form>
</div>
<hr>



<div class="container mt-5" *ngIf="tableHide">

    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead class="bg-success">
                    <th>Sno</th>
                    <th>Batch Name</th>
                    <th>Std Id</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Date</th>
                    <th>Attendance status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let stdObj of allStdAttenArr,let i=index">
                        <td>{{i+1}}</td>
                        <td>{{stdObj.bname}}</td>
                        <td>{{stdObj.stdId}}</td>
                        <td>{{stdObj.name}}</td>
                        <td>{{stdObj.course}}</td>
                        <td>{{stdObj.timestamp|date: 'dd-MM-yyyy'}}</td>
                        <td>{{stdObj.attendancestatus}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>