<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal">Add Student</button>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive-sm">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Batch Name</th>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Course</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </thead>
                    <tr *ngFor="let data of stdDetails">
                        <td>{{data.bname}}</td>
                        <td>{{data.stdId}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.ph}}</td>
                        <td>{{data.course}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.gender}}</td>
                        <td><button class="btn btn-warning" (click)="editStudentDatails(data)" data-toggle="modal"
                                data-target="#EditModal">Edit</button></td>
                        <td><button class="btn btn-danger" (click)="deleteStudentDatails(data)">Delete</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Add Student Details -->
<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Student Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <form #ref1="ngForm" (ngSubmit)="stdForm(ref1.value)" class="p-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="bn">BatchName</label>
                                        <input type="text" class="form-control" name="bname" id="bn"
                                            [(ngModel)]="batchname">
                                    </div>
                                    <div class="form-group">
                                        <label for="sti">Student Id</label>
                                        <input type="text" class="form-control" #stdref="ngModel" placeholder="STDB0101"
                                            name="stdId" id="sti" ngModel pattern="[A-Z]{4}\d{4}" maxlength="8"
                                            required>
                                    </div>
                                    <!-- std id validations -->
                                    <div *ngIf="stdref.invalid&&(stdref.dirty||stdref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="stdref.errors?.required">Student id is required</div>

                                        <div *ngIf="stdref.errors?.pattern">student id should be like this STDB0101
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="nm">Name</label>
                                        <input type="text" class="form-control" name="name" id="nm" #nameref="ngModel"
                                            ngModel required>
                                    </div>
                                    <!-- name validations -->
                                    <div *ngIf="nameref.invalid&&(nameref.dirty||nameref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="nameref.errors?.required">Name is required</div>


                                    </div>
                                    <div class="form-group">
                                        <label for="em">Email</label>
                                        <input type="email" class="form-control" name="email" id="em"
                                            #emailRef="ngModel" ngModel required
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                                    </div>

                                    <!-- email validations -->
                                    <div *ngIf="emailRef.invalid&&(emailRef.dirty||emailRef.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="emailRef.errors?.required">Email is required</div>

                                        <div *ngIf="emailRef.errors?.pattern">Email must be valid</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="mnumber">MobileNumber</label>
                                        <input type="tel" class="form-control" name="ph" id="mnumber" #phNo="ngModel"
                                            ngModel required minlength="10" maxlength="10" pattern="\d+">
                                    </div>
                                    <!-- phn validations -->

                                    <div *ngIf="phNo.invalid&&(phNo.dirty||phNo.touched)" class="alert alert-danger">
                                        <div *ngIf="phNo.errors.required">Phone Number is required</div>
                                        <div *ngIf="phNo.errors.minlength">Phone Number must be 10 Digits</div>
                                        <div *ngIf="phNo.errors.pattern">
                                            Phone number must be from 0 to 9
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sel1">Select Course:</label>
                                        <select class="form-control" id="sel1" #slref="ngModel" name="course" ngModel
                                            required>
                                            <option disabled>Select Course</option>
                                            <option>Java</option>
                                            <option>Mean Stack</option>
                                            <option>Python</option>
                                            <option>.Net</option>
                                        </select>
                                    </div>
                                    <!-- course validations -->
                                    <div *ngIf="slref.invalid&&(slref.dirty||slref.touched)" class="alert alert-danger">
                                        <div *ngIf="slref.errors?.required">Field is required</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="adr">Address</label>
                                        <input type="text" class="form-control" name="address" #addref="ngModel"
                                            id="adr" ngModel required>
                                    </div>

                                    <!-- address validations -->
                                    <div *ngIf="addref.invalid&&(addref.dirty||addref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="addref.errors?.required">Field is required</div>
                                    </div>

                                    <label for="">Select Gender</label>
                                    <!-- <br>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="gn" #gender="ngModel"
                                                ngModel name="gender" value="male" required>male
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" #gender="ngModel" ngModel
                                                name="gender" value="female" required>female
                                        </label>

                                    </div> -->
                                    <br>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio1" name="gender"
                                            value="male" #gender="ngModel" ngModel required>
                                        <label class="custom-control-label" for="customRadio1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio2"
                                            #gender="ngModel" ngModel name="gender" value="female" required>
                                        <label class="custom-control-label" for="customRadio2">Female</label>
                                    </div>


                                    <!-- validations for gender -->
                                    <div *ngIf="addref.invalid&&(addref.dirty||addref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="gender.errors?.required">Gender is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary pl-4 pr-4 mt-3" type="submit" [disabled]=ref1.invalid>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- edit student data -->
<div class="container">
    <!-- The Modal -->
    <div class="modal" id="EditModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Student Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <form #editref="ngForm" (ngSubmit)="editstdForm(editref.value)" class="p-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nm">Name</label>
                                        <input type="text" class="form-control" name="name" id="nm"
                                            #editnameref="ngModel" [(ngModel)]="editname" required>
                                    </div>
                                    <!-- name validations -->
                                    <div *ngIf="editnameref.invalid&&(editnameref.dirty||editnameref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="editnameref.errors?.required">Name is required</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="em">Email</label>
                                        <input type="email" class="form-control" name="email" id="em"
                                            #eemailRef="ngModel" [(ngModel)]="editemail" required
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                    </div>
                                    <!-- email validations -->
                                    <div *ngIf="eemailRef.invalid&&(eemailRef.dirty||eemailRef.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="eemailRef.errors?.required">Email is required</div>

                                        <div *ngIf="eemailRef.errors?.pattern">Email must be valid</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mnumber">MobileNumber</label>
                                        <input type="tel" class="form-control" name="ph" id="mnumber" #ephNo="ngModel"
                                            [(ngModel)]="editmobileno" required minlength="10" maxlength="10"
                                            pattern="\d+">
                                    </div>

                                    <!-- phn validations -->
                                    <div *ngIf="ephNo.invalid&&(ephNo.dirty||ephNo.touched)" class="alert alert-danger">
                                        <div *ngIf="ephNo.errors.required">Phone Number is required</div>
                                        <div *ngIf="ephNo.errors.minlength">Phone Number must be 10 Digits</div>
                                        <div *ngIf="ephNo.errors.pattern">
                                            Phone number must be from 0 to 9
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <label for="sel1">Select Course:</label>
                                        <select class="form-control" id="sel1" #eslref="ngModel" name="course"
                                            [(ngModel)]="editcousrse" required>
                                            <option disabled>Select Course</option>
                                            <option>Java</option>
                                            <option>Mean Stack</option>
                                            <option>Python</option>
                                            <option>.Net</option>
                                        </select>
                                    </div>
                                    <!-- course validations -->
                                    <div *ngIf="eslref.invalid&&(eslref.dirty||eslref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="eslref.errors?.required">Field is required</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="adr">Address</label>
                                        <input type="text" class="form-control" name="address" #eaddref="ngModel"
                                            id="adr" [(ngModel)]="editaddress" required>
                                    </div>

                                    <!-- address validations -->
                                    <div *ngIf="eaddref.invalid&&(eaddref.dirty||eaddref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="eaddref.errors?.required">Field is required</div>
                                    </div>

                                    <label for="">Select Gender</label>
                                    <br>
                                    <!-- <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="gn" #egender="ngModel"
                                                [(ngModel)]="editgender" name="gender" value="male" required>male
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" #egender="ngModel"
                                                [(ngModel)]="editgender" name="gender" value="female" required>female
                                        </label>

                                    </div> -->


                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="gn" name="gender"
                                            value="male" #egender="ngModel" [(ngModel)]="editgender" required>
                                        <label class="custom-control-label" for="gn">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="gn2" #egender="ngModel"
                                            [(ngModel)]="editgender" name="gender" value="female" required>
                                        <label class="custom-control-label" for="gn2">Female</label>
                                    </div>


                                    <div *ngIf="eaddref.invalid&&(eaddref.dirty||eaddref.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="egender.errors?.required">Gender is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary pl-4 pr-4 mt-3" type="submit" [disabled]=editref.invalid>
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>