<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4 bg-success p-4 imgmargin" style="border-radius: 10px;">
                <div class="text-center">
                    <h3 class="text-white" style="font-size: 30px; font-weight: bold;">Login</h3>
                </div>
                <form #ref="ngForm" (ngSubmit)="loginData(ref.value)">
                    <div class="form-group">
                        <label for="un">userName</label>
                        <input type="text" name="username" id="un" ngModel class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pw">Password</label>
                        <input type="password" name="password" id="pw" ngModel class="form-control">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">login

                        </button>
                    </div>
                </form>

            </div>
            <div class="col-sm-4">

            </div>


        </div>

    </div>

</body>