body
{
background-image:  url("https://cdn.pixabay.com/photo/2016/03/09/15/28/rocks-1246668_960_720.jpg");

background-size: cover;
width: 100%;
height: 672px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;


}
.imgmargin{


    margin-top: 120px;

}
