p {
    color: cornsilk;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  body{
    margin: 0;
    padding: 0;
    background:url("https://cdn.pixabay.com/photo/2019/07/09/07/01/background-4326353__340.jpg");
    height:130vh;
    width:100%;
    background-size: cover;
    background-position: center;
    
    font-family: sans-serif;
}

/* .footer {
    text-align: center;
    background-color: #333;
    color:#fff;
    
    bottom:0;
    width:100%;

  }
   */
  /* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 } */