<body>

    <div class="container">

        <!-- <div>
            <h3 class="display-4 text-center mb-3 text-white">About Us</h3>
        </div> -->

        <div>
            <img src="https://www.braintrusthub.com/wp-content/uploads/2019/01/about-us.jpg"
                class="d-block mx-auto img-fluid mb-4 pt-4 " alt="">
        </div>


        <div>
            <p> It's a residential training programme for Job seekers in IT , Intensive training
                duration is 3 months.
                We provide you the Accommodation, Hygienic food and Good Training - everything under one roof.
                We give training on latest technologies ( JAVA / MEAN Stack ) along with skill required for getting job.
                Course includes core JAVA, MEAN Stack (MongoDB, Angular 4/5, Node.js, express), TypeScript, Linux
                (Ubuntu),
                HTML , CSS 3, and Bootstrap
                It is complete in-house residential training, so the student will only have to study and practise and
                they
                do not need to waste their time going to training at one location, hostel at one location and food at
                another location
                As part of the training program we mandate student/graduate to practice in the lab at-least for 5 hours
                daily to improve their skills
                We monitor the effectiveness of the training by giving daily assignments and conducting weekly
                assessment
                and mock interviews and provide feedback accordingly.
                We also have tie up with Start-ups and MNCs for placing the graduates into IT sector once the graduate
                complete training program.
                Students can avail the hygenic boarding and food facilities provided in the campus.
                We support in placement activities till each candidate gets the job.

            </p>
            <p>
                The term MEAN stack refers to a collection of JavaScript based technologies used to develop web
                applications. MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js. From client to server to
                database, MEAN is full stack JavaScript. Second Campus helps to train Students on Mean Stack.


            </p>
            <p>
                As per the in-house research and analysis we have found out that graduates who go to institute for
                acquiring
                the skills are not spending enough time to gain the skills. We enable the student to focus 5 times more
                ,
                Also our curriculum includes skill development on presentations, seminars (Public speaking) in guided
                environment , each student has to give presentations on projects and should participate in group
                discussions
                along with public speaking. We also emphasize on English speaking and narration of answers /
                presentations.
            </p>
        </div>

    </div>
</body>

<!-- <div class="container">

    <div class="row">
        <div class="col-sm-3">

            <p></p>


        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3"></div>
    </div>

</div> -->
<!-- 
    <div class="row" style="background-color: #45526E;">

        <div class="col-sm-4">
            <h5>navigation</h5>
            <ul style="list-style-type: none;">
                <li>home</li>
                <li>home</li>
                <li>home</li>
                <li>home</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5>navigation</h5>
            <ul style="list-style-type: none;">
                <li>home</li>
                <li>home</li>
                <li>home</li>
                <li>home</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h5>navigation</h5>
            <ul style="list-style-type: none;">
                <li>home</li>
                <li>home</li>
                <li>home</li>
                <li>home</li>
            </ul>
        </div>
        
    <div class="footer">
        <p>Footer</p>
      </div> -->