<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary float-left" data-toggle="modal" data-target="#myModal">Change
                Password</button>
        </div>
    </div>
</div>



<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">


                    <form #ref="ngForm" (ngSubmit)="changePass(ref.value)">
                        <div class="form-group">
                            <label for="npass">Enter New Password</label>
                            <input type="text" class="form-control" id="npass" name="Newpassword"
                                pattern="^(?=.*\d).{4,8}$" #npass="ngModel" ngModel required>
                        </div>
                        <div *ngIf="npass.invalid&&(npass.dirty||npass.touched)" class="alert alert-danger">
                            <div *ngIf="npass.errors?.required">This Field Is Required</div>
                            <div *ngIf="npass.errors?.pattern">Password must be between 4 and 8 digits long and include
                                at least one numeric digit. </div>
                        </div>
                        <div class="form-group">
                            <label for="cpass">Enter Confirm Password</label>
                            <input type="text" class="form-control" name="Cpassword" id="cpass" #Cpass="ngModel" ngModel
                                required>
                        </div>
                        <div *ngIf="Cpass.invalid&&(Cpass.dirty||Cpass.touched)" class="alert alert-danger">
                            <div *ngIf="Cpass.errors?.required">This Field Is Required</div>

                        </div>
                        <div *ngIf="Cpass.valid">
                            <div class="alert alert-danger" *ngIf="Cpass.value!==npass.value">Passwords Should Be Same
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit" [disabled]=ref.invalid>Submit</button>
                        </div>




                        <!-- 

                        <div class="form-group">
                            <input type="password" [(ngModel)]="userdata.password" name="password"
                                placeholder="Password" class="form-control" required #password="ngModel"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                            <div *ngIf="password.invalid && (myform.submitted || password.touched)"
                                class="alert alert-danger">
                                <div *ngIf="password.errors.required"> Password is required. </div>
                                <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase
                                    and lowercase letter, and at least 8 or more characters.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" [(ngModel)]="userdata.confirmpassword" name="confirmpassword"
                                placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel"
                                pattern="{{ password.value }}" />
                            <div *ngIf=" confirmpassword.invalid && (myform.submitted || confirmpassword.touched)"
                                class="alert alert-danger">
                                <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
                                <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.
                                </div>
                            </div>
                        </div>-->
                    </form>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>