


body{
    margin: 0;
    padding: 0;
    background:url("https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_960_720.jpg");
    height:608px;
    width:100%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login-box input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    /* cursor: default	; */
}