<body>
    <div class="container" *ngIf="showForm1">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 ">
                <div class="jumbotron text-white" style="margin-top: 150px;background: rgba(0, 0, 0, 0.5);">
                    <form #ref=ngForm (ngSubmit)="forgetPass(ref.value);ref.reset()">
                        <div class="login-box">
                            <div class="form-group">
                                <label for="fgp">Enter Your Username</label>
                                <input type="text" class="form-control" id="fgp" name="Fusername" #forgotRef="ngModel"
                                    ngModel required>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mt-4" type="submit"
                                    [disabled]=ref.invalid>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="container" *ngIf="showForm2">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 ">
                <div class="jumbotron text-white" style="margin-top: 150px;background: rgba(0, 0, 0, 0.5);">
                    <form #ref1=ngForm (ngSubmit)="verifyOtp(ref1.value);ref1.reset()">
                        <div class="login-box">
                            <div class="form-group">
                                <label for="gp">Enter OTP</label>
                                <input type="text" class="form-control" id="gp" name="otp" #otpRef="ngModel" ngModel
                                    maxlength="8" required>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mt-4" type="submit"
                                    [disabled]=ref1.invalid>Verify</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <div class="container" *ngIf="showForm3">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 ">
                <div class="jumbotron text-white" style="margin-top: 150px;background: rgba(0, 0, 0, 0.5);">
                    <form #ref3="ngForm" (ngSubmit)="changePass(ref3.value)">
                        <div class="login-box">
                            <div class="form-group">
                                <label for="npass">Enter New Password</label>
                                <input type="text" class="form-control" id="npass" name="Newpassword"
                                    pattern="^(?=.*\d).{4,8}$" #npass="ngModel" ngModel required>
                            </div>
                            <div *ngIf="npass.invalid&&(npass.dirty||npass.touched)" class="text-danger">
                                <div *ngIf="npass.errors?.required">This Field Is Required</div>
                                <div *ngIf="npass.errors?.pattern">Password must be between 4 and 8 digits long and
                                    include
                                    at least one numeric digit. </div>
                            </div>
                            <div class="form-group">
                                <label for="cpass">Enter Confirm Password</label>
                                <input type="text" class="form-control" name="Cpassword" id="cpass" #Cpass="ngModel"
                                    ngModel required>
                            </div>
                            <div *ngIf="Cpass.invalid&&(Cpass.dirty||Cpass.touched)" class="text-danger">
                                <div *ngIf="Cpass.errors?.required">This Field Is Required</div>

                            </div>
                            <div *ngIf="Cpass.valid">
                                <div class="text-danger" *ngIf="Cpass.value!==npass.value">Passwords Should Be
                                    Same
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" type="submit" [disabled]=ref3.invalid>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

</body>