<body>

    <div class="container mt-5">
        <img src="http://niperhajipur.ac.in/IMAGE/c1.jpg" class="d-block mx-auto img-fluid">
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div>
                    <h4>contact us</h4>
                    <p>on 9876543210</p>
                    <p>email us:SecondCampus@gmail.com</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <div>
                        <h4>How to find us</h4>
                        <p>SecondCampus</p>
                        <p>Kphb Metrostation,
                            Kukatpally,Hyderabad
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

</body>