p{


  font-size: 20px;
  
}

/* body{
  margin: 0;
  padding: 0;
  background:url("https://cdn.pixabay.com/photo/2015/09/09/18/03/bullion-932218__340.jpg");
  height:130vh;
  width:100%;
  background-size: cover;
  background-position: center;
  
  font-family: sans-serif;
} */
