<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <select name="batch" required ngModel class="custom-select mb-3 border-top-0 border-left-0 border-right-0"
                (change)="searchDetails($event.target.value)">
                <option value="" disabled>Select Batch---</option>
                <!-- <option value="allbatches" selected>AllBatches</option> -->
                <option value="{{batch.batchname}}" *ngFor="let batch of batchData">
                    {{batch.batchname|uppercase}}</option>
            </select>
        </div>

        <!-- <div class="col-sm-3">

                <input type="date" name="fromdate" required ngModel placeholder="From:" name="fromdate"
                    class="form-control border-top-0 border-left-0 border-right-0">

            </div>
            <div class="col-sm-3">

                <input type="date" name="todate" required ngModel placeholder="To:" name="todate"
                    class="form-control border-top-0 border-left-0 border-right-0">
            </div> -->
        <div class="col-sm-6">
            <!-- <button class="btn btn-success" type="submit">Search</button> -->
        </div>
    </div>
</div>
<hr>


<div class="container mt-5">
    <div *ngIf="selectbatch">
        <h3 class="display-4 text-center text-primary">Please Select Batch Name...</h3>
    </div>
    <div *ngIf="notFoundStatus">
        <h3 class="display-4 text-center text-danger">No Students Data Found</h3>
    </div>
</div>
<div class="container mt-5" *ngIf="hideTable">

    <div class="row">
        <div class="col-sm-12">

            <table class="table">
                <thead class="bg-success">
                    <th>Sno</th>
                    <th>Batch Name</th>
                    <th>Std Id</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Date</th>
                    <th>Attendance</th>
                </thead>
                <tbody>
                    <tr *ngFor="let stdObj of allStudents,let i=index">
                        <td>{{i+1}}</td>
                        <td>{{stdObj.bname}}</td>
                        <td>{{stdObj.stdId}}</td>
                        <td>{{stdObj.name}}</td>
                        <td>{{stdObj.course}}</td>
                        <td>{{date|date: 'dd-MM-yyyy'}}</td>
                        <td>

                            <!-- <form (change)="attendance($event.target.value,stdObj,i)">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="customRadio1"
                                        name="Attendance{{i+1}}" value="absent">
                                    <label class="custom-control-label" for="customRadio1">Absent</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="customRadio2"
                                        name="Attendance{{i+1}}" value="present">
                                    <label class="custom-control-label" for="customRadio2">Present</label>
                                </div>
                            </form> -->

                            <div>
                                <form (change)="attendance($event.target.value,stdObj)">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="attendance{{i+1}}"
                                                value="absent" required>absent
                                        </label>

                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="attendance{{i+1}}"
                                                value="present" required>present
                                        </label>
                                    </div>

                                    <!-- <div *ngIf="presentRef{{i+1}}.invalid&&(presentRef{{i+1}}.dirty||presentRef{{i+1}}.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="attendance{{i+1}}.errors?.required"></div>
                                </div> -->
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button class="btn btn-success" (click)="submitAttendance()">Submit</button>
            </div>
        </div>
    </div>
</div>