<body>


    <div class="container mt-5">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTjMSP_wlm7RUNbM3BjmRGNNn0RmbWpuXpyPL8xcPybr_sOUH76"
                        width="1100px" height="500px" alt="Los Angeles">
                </div>
                <div class="carousel-item">
                    <img src="https://neteindia.com/wp-content/themes/neteindia/images/banner-3.jpg" alt="Chicago" width="1100px" height="500px">
                </div>
                <div class="carousel-item">
                    <img src="http://www.oyetrade.com/images/ismsBanner.jpg" alt="New York" width="1100px" height="500px">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

</body>