/* Make the image fully responsive
.carousel-inner img {
    width: 100%;
    height: 100%;
} */





body{
    margin: 0;
    padding: 0;
    background:url("https://cdn.pixabay.com/photo/2017/11/25/20/15/christmas-2977561_960_720.jpg");
    height:100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    font-family: sans-serif;
}
