#body-row {
  margin-left: 0;
  margin-right: 0;
}

#sidebar-container {
  min-height: 100vh;
  background-color: #132644;
  padding: 0;
  /* flex: unset; */
}

.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  /*width: 60px;*/
  width: 100px;
}

/* ----------| Menu item*/    
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* ----------| Submenu item*/    
#sidebar-container .list-group li.list-group-item {
  background-color: #132644;
}

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* ----------| Separators */    
.sidebar-separator-title {
  background-color: #132644;
  height: 35px;
}

.sidebar-separator {
  background-color: #132644;
  height: 25px;
}

.logo-separator {
  background-color: #132644;
  height: 60px;
}

a.bg-dark {
  background-color: #132644 !important;
}
